.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
  font-family: var(--font-mono);

  &:hover {
    transform: translateY(-1px);
  }

  &--sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8125rem;
  }

  &--md {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
  }

  &--lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  &--primary {
    background: var(--color-surface-1);
    color: var(--color-text-primary);
  }

  &--secondary {
    background: var(--color-surface-2);
    color: var(--color-text-secondary);
  }

  &--icon {
    background: transparent;
    color: var(--color-text-primary);
    padding: 0.25rem;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transform: none;

    background: var(--color-surface-3);
    color: var(--color-text-secondary);
  }

  &:disabled lucide-icon {
    opacity: 0.6;
  }
}
